{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
            <p class="text-secondary">{{user.first_name}}</p>
        </div>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="boder-bottom  mb-4">profile-info</legend>
            {{ u_form |crispy}}
            {{ p_form |crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info " type="submit">update</button>
        </div>

    </form>
</div>

{% endblock %}